<div ng-controller="personController">
    <h1>09 - Routing</h1>
    <input type="text" value="" ng-model="filterName" class="input-lg" placeholder="typ je naam..." />
    <ul ng-repeat="person in persons | orderBy:'name' | filter: filterName">
        <li>{{ person.name  | uppercase  }}</li>
    </ul>

<!--    <h2>Request Detail view</h2>-->
<!--     <p>A controller for the detailed view</p>-->
<!--    <li ng-repeat="person in persons">-->
<!--        <a ng-href="#/detail/{{ person.id }}/{{ person.name }} ">-->
<!--            {{ person.name  }}-->
<!--        </a>-->
<!--    </li>-->
</div>

