<div ng-controller="bookController">
    <style>
        #result {
            list-style-type : none;
            margin          : 0;
            padding         : 0;
        }

        #result li {
            display : inline;
            float   : left;
        }

        .albumCover {
            max-width     : 320px;
            border        : 2px solid orangered;
            padding       : 10px;
            margin        : 10px;
            border-radius : 10px;
                          /*display       : block;*/
        }
    </style>
    <h1>11 - Live data via een service met $http</h1>

    <!-- Voor ophalen van boeken via Yindo -->
    <input type="text" value="" ng-model="filterTitle" class="input-lg" placeholder="filter titel..."/>
    <button ng-click="getBooks()" class="btn btn-primary">Get books!</button>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="book in books | filter: filterTitle">
            {{ book.title }} - {{ book.firstAuthorName }}
        </li>
    </ul>


    <div ng-controller="weatherController as w">
        Weer in een bepaalde stad ophalen
        <h2>Wat is het weer in...</h2>

        <input type="text" class="input-lg"
               ng-model="w.city"
               placeholder="typ een stad..."/>
        <button ng-click="w.getWeather()" class="btn btn-primary">Haal weer op</button>
        <h2 ng-show="w.graden">in {{ w.plaatsnaam }} is het {{ w.graden }} graden.</h2>
        <hr/>
    </div>


    <!--<h2>Dummy People data</h2>-->
    <!-- Via FillText.com, ophalen van dummy data voor personen-->
    <!--<ul>-->
    <!--<li ng-repeat="person in people">{{ person.fname + '  ' + person.lname  }} ({{person.email}})</li>-->
    <!--</ul>-->

</div>

