<!DOCTYPE html>
<html ng-app="">
<head>
	<title>Angular JS Template</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
</head>
<body>
	<!-- De data wordt hier hardcoded even in een array names[] geplaatst. Er wordt met ng-repeat overheen geloopt. -->
	<div class="container" ng-init="names=['John', 'Bob', 'Sandra', 'Harry', 'Peter', 'Michiel', 'Jeroen', 'Irene']">
		<h1>02- Simple data looping</h1>

		<input type="text" value="" ng-model="name" class="input-lg" placeholder="typ je naam..." /> Hello {{ name }}

		<!-- directive ng-repeat voor het loopen over een data-collectie -->
		<ul ng-repeat="firstName in names">
			<li>Hello {{ firstName }}</li>
		</ul>

	</div>
	<script src="js/vendor/angular/angular.min.js"></script>
</body>
</html>
