<!DOCTYPE html>
<html ng-app="">
<head>
	<title>Angular JS Template</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
</head>
<body>
	<!-- De data staat nu in een aparte controller. In een echte applicatie zul je deze nog uit-refactoren, maar
		 voor demo-doeleinden zie je nu goed wat er gebeurd -->
	<div class="container" ng-controller="personController">
		<h1>05 - Controllers and scope</h1>

		<input type="text" value="" ng-model="filterName" class="input-lg" placeholder="typ je naam..." />
		<ul ng-repeat="person in persons | orderBy:'name' | filter: filterName">
			<li>{{ person.name  | uppercase  }}</li>
		</ul>
		<!-- Voorbeeld van enkele overige properties op de $scope -->
		<h2>Stad: {{ city }} </h2>
		<h3>Favoriet land: {{ country.favorite }} </h3>

	</div>
	<!-- Scripts below here -->
	<script src="js/vendor/angular/angular.min.js"></script>
	<script>
		function personController($scope) {
			// Meerdere variabelen maken in de $scope:
			// 1. array persons[] in de $scope
			$scope.persons = [{ 'name': 'John' },
				{ 'name': 'Bob' },
				{ 'name': 'Bart' },
				{ 'name': 'Sandra' },
				{ 'name': 'Harry' },
				{ 'name': 'Peter' },
				{ 'name': 'Michiel' },
				{ 'name': 'Jeroen' },
				{ 'name': 'Irene' },
				{ 'name': 'Mike' }
			];

			// 2. Stad
			$scope.city = 'New York';

			// 3: Land
			$scope.country = {
				regular: 'Nederland',
				favorite: 'Bahama\'s'
			}


		}
	</script>
</body>
</html>
