<!DOCTYPE html>
<!-- Voorbeeld van meerdere controllers in 1 app. Met aparte js-bestanden en een bootstrapper app.js -->
<!-- 1. Definieer een modulenaam in HTML -->
<html ng-app="myApp">
<head>
	<title>Angular JS Template</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
</head>
<body>
	<!-- Eerste controller in de view -->
	<div class="container" ng-controller="personController">
		<h1>08 - Multiple Modules &amp; Controllers</h1>

		<input type="text" value="" ng-model="filterName" class="input-lg" placeholder="typ je naam..." />
		<ul ng-repeat="person in persons | orderBy:'name' | filter: filterName">
			<li>{{ person.name  | uppercase  }}</li>
		</ul>
	</div>

	<!-- Tweede controller in de view --> 
	<div class="container" ng-controller="citiesController">
		<h1>Diverse steden</h1>		
		<ul ng-repeat="city in cities">
			<li>{{ city.name }} - {{ city.country }}</li>
		</ul>
	</div>



	<!-- Scripts below here -->
	<script src="js/vendor/angular/angular.min.js"></script>
	<script src="js/08_app.js"></script>
	<script src="js/08_ng_controller01.js"></script>
	<script src="js/08_ng_controller02.js"></script>
</body>
</html>
