<html data-ng-app="">
<head>
	<title>Angular JS ng-if</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/styles.css" rel="stylesheet" />
	<style>
		
		.visible {
			width: 400px;
			height: 90px;
			border: 1px solid #333;
			background-color: #4390AE;
			color: white;
			padding: 4px;
			margin: 4px;
		}
	</style>
</head>
<body>
	<div class="container" ng-controller="myController">		
		<div><input type="checkbox" ng-model="checked" />Check voor tonen/verbergen van tekst</div>
		<div class="visible" ng-if="checked">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit
			in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
		</div>
	</div>


	<!-- ***************-->
	<!-- Vendor scripts -->
	<!-- ***************-->
	<script src="js/vendor/angular/angular.min.js"></script>

	<!-- Custom scripts -->
	<script>
		// some (random) examples
		function myController($scope) {
			// $scope.checked = true;
		}
	</script>
</body>

</html>
