<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
   
</head>
<body>
	<h1>Home.html</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, ad, aperiam, possimus repellendus repellat animi aliquam laudantium earum porro nam delectus pariatur beatae quam at vel consectetur dignissimos. Aspernatur, placeat!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, ad, aperiam, possimus repellendus repellat animi aliquam laudantium earum porro nam delectus pariatur beatae quam at vel consectetur dignissimos. Aspernatur, placeat!</p>
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, nostrum, eius, perspiciatis ipsa ducimus a provident dolore rem laudantium vel aperiam nihil suscipit ipsam nam at amet illum ab sequi necessitatibus laboriosam non praesentium impedit velit debitis animi rerum inventore?</div>
</body>
</html>