<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	<h1>Products.html</h1>
	<h2>Onze mooie producten:</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, ad, aperiam, possimus repellendus repellat animi aliquam laudantium earum porro nam delectus pariatur beatae quam at vel consectetur dignissimos. Aspernatur, placeat!</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, ad, aperiam, possimus repellendus repellat animi aliquam laudantium earum porro nam delectus pariatur beatae quam at vel consectetur dignissimos. Aspernatur, placeat!</p>

</body>
</html>