<!DOCTYPE html>
<html ng-app="">
<head>
	<title>Angular JS Template</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
	<link href="css/bootstrap.css" rel="stylesheet"/>
	<link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- De data wordt hier hardcoded even in een array names[] geplaatst. Er wordt met ng-repeat overheen geloopt. -->
<!-- Let op dat nu objecten van namen worden gemaakt. Anders zijn ze niet te sorteren met orderBy. Deze kan
	alleen sorteren op properties van objects -->
<div class="container"
	 ng-init="persons=[{name : 'Leslie', lastname : 'Simon'},
			{name : 'John', lastname : 'Stevens'},
			{name : 'Bart', lastname : 'Boeve'},
			{name : 'Sandra', lastname : 'Saring'},
			{name : 'Harry', lastname : 'Venderbosch'},
			{name : 'Peter', lastname : 'Eizinga'},
			{name : 'Michiel', lastname : 'Haskell'},
			{name : 'Jeroen', lastname : 'Brugman'},
			{name : 'Irene', lastname : 'Vreugd'},
			{name : 'Mike', lastname : 'Korten'}]">
	<h1>04 - Multiple data filtering</h1>

	<input type="text" value="" ng-model="filterName" class="input-lg" placeholder="typ je naam..."/>
	<ul>
		<li ng-repeat="person in persons | orderBy:'name' | filter: filterName">
			{{ person.name | uppercase }} - {{ person.lastname }}
		</li>
	</ul>

</div>
<script src="js/vendor/angular/angular.min.js"></script>
</body>
</html>
