<!DOCTYPE html>
<!-- 1. Definieer een modulenaam in HTML -->
<html ng-app="myApp">
<head>
	<title>Angular JS Template</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
	<link href="css/bootstrap.css" rel="stylesheet"/>
	<link href="css/styles.css" rel="stylesheet"/>
</head>
<body>
<div class="container" ng-controller="personController">
	<h1>07 - Modules &amp; Controllers en DI</h1>

	<input type="text" value="" ng-model="filterName" class="input-lg" placeholder="typ je naam..."/>
	<ul>
		<li ng-repeat="person in persons | orderBy:'name' | filter: filterName">{{ person.name | uppercase }}</li>
	</ul>

	<!-- This is a controller that is defined in HelperModule -->
	<div ng-controller="alertController">
		<button ng-click="clickMe()">Hello World</button>
	</div>

</div>


<!-- Scripts below here -->
<script src="js/vendor/angular/angular.min.js"></script>
<script src="js/myHelper.js"></script>
<script>

	// 2. Create a JavaScript var with the main module for this app and
	// angular module, based on the name in the HTML-directive.
	// The Helpermodule is *injected* into the main module, inside [...]
	var app = angular.module('myApp', ['myHelper']);

	// 3. Add a controller to this module
	app.controller('personController', function ($scope) {
		$scope.persons = [{'name': 'John'},
			{'name': 'Bob'},
			{'name': 'Bart'},
			{'name': 'Sandra'},
			{'name': 'Harry'},
			{'name': 'Peter'},
			{'name': 'Michiel'},
			{'name': 'Jeroen'},
			{'name': 'Irene'},
			{'name': 'Mike'}];
	});
</script>
</body>
</html>
